body, .app, #root{
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
    animation-duration: 1s;
}

.app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* It will animate thing when changing from desktop mode to mmobile mode */
*{
    transition: 0.5s;
}