/* Button component style */
.Button{
    box-shadow: 0px 10px 10px #00000069;
    border-radius: 51px;
    background-color: #F9C202;
    font-weight: 500;
    color: white;
    height: 40px;
    width: 162px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
    transition: 0.1s;
}

/* Style for when the button is pressed */
.Button:active{
    box-shadow: 0px 1px 1px #00000069;
}

/* Style for when the mouse is on the button */
.Button:hover{
    background-color: white;
    color: #f9c202;
}