div{
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.text{
    max-width: 500px;
    height: 154px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px;
}

.price{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}